<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <script type="text/javascript" src="commom/js/libs/vue/vue.js"></script>
</head>

<body>
    <div id="box1">

	<template v-if="ok">
  <h1>Title</h1>
  <p>Paragraph 1</p>
  <p>Paragraph 2</p>
</template>
<h1 v-show="ok">Hello!</h1>

<div v-if="Math.random() > 0.5">
  Sorry
</div>
<div v-else>
  Not sorry
</div>
    </div>
    
    <script type="text/javascript">
    new Vue({
        el: '#box1',
        data: {
            ok:true
        }
    })
    </script>
</body>

</html>
